/*
  Por padrão, esconde qualquer botão que esteja inserido
  dentro de uma linha de DataGrid do MUI
*/
.MuiDataGrid-row button {
  visibility: hidden;
}

/*
  Mas, se o ponteiro do mouse estiver sobre a linha (hover),
  exibe novamente os botões
*/
.MuiDataGrid-row:hover button {
  visibility: visible;
}

.form-fields {
  margin: 0 auto;
  width: 60%;
  display:grid;
  flex-wrap: wrap;
  justify-content:space-around;
}

.form-fields .MuiFormControl-root {
  padding: '10px';
  min-width: 200px;
  max-width: 350px;
  width: 600px;
  margin-bottom: 20px;
}